/* .container, .container-lg,  .container-xl, .container-sm, .container-md {
  max-width: 80%;
} */

.centerSpinner {
  margin-left: 50%;
  margin-top: 20%;
}

a.page-link {
  color: white;
  background: transparent;
  border: 2px solid #fff;
}

a.page-link:focus,
a.page-link:active, button.btn.btn-primary:active, button.btn.btn-primary:focus {
  outline: none !important;
  box-shadow: none;
}

.btn-primary:hover {
  background-color: #fff;
  color: black;
}

.rest-card:hover {
  border: 1px black solid;
  box-shadow: 2px px grey;
}

.rest-card {
  cursor: pointer;
  min-height: 170px;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    max-width: none;
  }
}
