.rating-card {
  margin-top: 2rem;
  vertical-align: center;
  min-height: 100%;
  height: auto !important;
  height: 100%;

}

.centerSpinner {
  margin-left: 50%;
  margin-top: 20%;
  color: white;
}


.card {
  background-color: rgba(0,0,0,0.2); 
  color: #FFF;
  border: 1px solid #fff;

}

.rating-section {
  margin-bottom: 2rem;
}
