
.jumbotron {
  min-height: 100%;
}

.jumb-bg {
  /* scrim so we can read text over image https://css-tricks.com/design-considerations-text-images/ */
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("./public/jumbotron-bg.jpg");
  background-size: cover;
  color: white;
  min-height: 100vh;
  text-align: center;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card {
    
    width: 100%;

}
