html,
body,
#root {
  height: 100%;
}

#root,
body, html {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./public/bg-resized.jpg") no-repeat center center fixed;
  background-size: cover;
}

.m-nav {
  color: #fff !important;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
  text-align: center;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
