.rating-card {
  margin-top: 2rem;
  vertical-align: center;
  min-height: 100%;
  height: auto !important;
  height: 100%;

}

.card {
  background: transparent;
  color: #FFF;
  border: 1px solid #fff;

}

.rating-section {
  margin-bottom: 2rem;
}
