.rating-card {
  margin-top: 1rem;
  vertical-align: center;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  padding-top: 5px;
  margin-top: 1rem;
}

.rating-section {
  margin-bottom: 2rem;
}
